<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
/**
 * This file is part of Phiremock.
 *
 * Phiremock is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Phiremock is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Phiremock.  If not, see <http://www.gnu.org/licenses/>.
 */
 -->
<phpunit bootstrap="./tests/bootstrap.php" colors="true"
	convertErrorsToExceptions="true" convertNoticesToExceptions="false"
	convertWarningsToExceptions="false">
	<testsuite name="UnitTests">
		<directory>./tests/unit</directory>
	</testsuite>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
	<php>
		<ini name="display_startup_errors" value="1" />
		<ini name="display_errors" value="1" />
		<ini name="error_reporting" value="E_ALL" />
	</php>
</phpunit>
